# H-1B Visas

In this project wa are going to explore the data which was taken from [kaggle](https://www.kaggle.com/jmpark746/h1b-visas?select=h1b16.csv)

### Data

The H-1B Dataset selected for this project contains data from employerâ€™s Labor Condition Application and the case certification determinations processed by the Office of Foreign Labor Certification (OFLC). The Labor Condition Application (LCA) is a document that a perspective H-1B employer files with U.S. Department of Labor Employment and Training Administration (DOLETA) when it seeks to employ non-immigrant workers at a specific job occupation in an area of intended employment for not more than three years

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [17]:
visas = pd.read_csv('../data_files/H1-B/h1b16.csv', index_col=0)

/home/goaziz/PycharmProjects/kaggle/venv/lib/python3.8/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [18]:
visas.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [19]:
visas.columns

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [21]:
visas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3002458 entries, 1 to 3002458
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   CASE_STATUS         object
 1   EMPLOYER_NAME       object
 2   SOC_NAME            object
 3   JOB_TITLE           object
 4   FULL_TIME_POSITION  object
 5   PREVAILING_WAGE     float64
 6   YEAR                float64
 7   WORKSITE            object
 8   lon                 float64
 9   lat                 float64
dtypes: float64(4), object(6)
memory usage: 252.0+ MB

In [24]:
visas.describe(include='all')

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
count,3002445,3002399,2984724,3002415,3002443,3.002373e+06,3.002445e+06,3002458,2.895216e+06,2.895216e+06
unique,7,236013,2132,287549,2,NaN,NaN,18622,NaN,NaN
top,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,NaN,NaN,"NEW YORK, NEW YORK",NaN,NaN
freq,2615623,130592,291170,249038,2576111,NaN,NaN,191719,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.469984e+05,2.013855e+03,NaN,-9.213441e+01,3.816054e+01
std,NaN,NaN,NaN,NaN,NaN,5.287609e+06,1.680612e+00,NaN,1.965591e+01,4.672835e+00
min,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.011000e+03,NaN,-1.578583e+02,1.343719e+01
25%,NaN,NaN,NaN,NaN,NaN,5.437100e+04,2.012000e+03,NaN,-1.119261e+02,3.416536e+01
50%,NaN,NaN,NaN,NaN,NaN,6.502100e+04,2.014000e+03,NaN,-8.615862e+01,3.910312e+01
75%,NaN,NaN,NaN,NaN,NaN,8.143200e+04,2.015000e+03,NaN,-7.551381e+01,4.088374e+01
max,NaN,NaN,NaN,NaN,NaN,6.997607e+09,2.016000e+03,NaN,1.457298e+02,6.483778e+01

In [25]:
visas['EMPLOYER_NAME'].value_counts()

INFOSYS LIMITED                      130592
TATA CONSULTANCY SERVICES LIMITED     64726
WIPRO LIMITED                         48117
DELOITTE CONSULTING LLP               36742
IBM INDIA PRIVATE LIMITED             34219
                                      ...
JAPAN TV NEWS INC.                        1
SMARTPOWER, INC.                          1
GILL DAIRY, LLC                           1
PATLITE (USA) CORPORATION                 1
HILLTOP DAIRY, LLLP                       1
Name: EMPLOYER_NAME, Length: 236013, dtype: int64

In [29]:
visas['EMPLOYER_NAME'].value_counts()

INFOSYS LIMITED                      130592
TATA CONSULTANCY SERVICES LIMITED     64726
WIPRO LIMITED                         48117
DELOITTE CONSULTING LLP               36742
IBM INDIA PRIVATE LIMITED             34219
                                      ...
JAPAN TV NEWS INC.                        1
SMARTPOWER, INC.                          1
GILL DAIRY, LLC                           1
PATLITE (USA) CORPORATION                 1
HILLTOP DAIRY, LLLP                       1
Name: EMPLOYER_NAME, Length: 236013, dtype: int64